<mat-card>
  <form [formGroup]="form">
    <mat-radio-group class="radio-button-group">
      <mat-radio-button class="radio-button" *ngFor="let radioItem of radioItems" [value]="radioItem" [checked]="radioItem === model.option">
        {{radioItem}}
      </mat-radio-button>
    </mat-radio-group>
    <br />
    <div class="margin">
      <mat-form-field class="margin">
        <input matInput type="number" placeholder="Amount" formControlName="amount" style="text-align: right;" />
        <span matSuffix>€&nbsp;</span>
        <mat-error *ngIf="form.get('amount').invalid && (submitted || form.get('amount').dirty)">Amount is required</mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</mat-card>